@import "../theme";

.k-button {
    border-color: #264a69;
    background-color: $blue;
    box-shadow: 0 4px 0 #4a4a4a;
    color: $white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.55em 0.95em;
    font-size: 1em;
    line-height: 1.25;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        background-color: #103555;
        color: $white;
        background-image: none;
    }
}


.k-autocomplete {

    .k-input {
        display: block;
        width: 100%;
        height: calc(1.25em + 1.1em + 2px);
        font-size: 1em;
        font-weight: 400;
        line-height: 1.25;
        color: #495057;
        background-color: $white;
        background-clip: padding-box;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border: 2px solid #323e48;
        padding: 0.3em;

        &:focus {
            outline: none;
            border-color: #8d7e9a;
            box-shadow: 0 0 0 0.2rem rgba(141, 126, 154, 0.7);
        }

        &::placeholder {
            color: #586169;
            opacity: 1;
        }
    }
}

.footer {
    background-color: #323e48;
    color: #d7dce0;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.0625rem;
    z-index: 1;

    .logo {
        display: inline-block;
        margin: 0 50px 50px 0;
    }

    h2 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        color: #000;
        font-size: 16px;
        text-align: right;
    }

    a {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;

        &:visited {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }

        &:hover,
        &:focus,
        &:active {
            color: #356a9a;
            text-decoration: underline;
        }
    }

    ul {
        display: block;
        padding: 0;
        font-size: 16px;
    }

    li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 5px 0;
        font-weight: 700;

        &:last-child {
            border-right: 0 solid #164671;
        }
    }

    ul {
        &.no-heading {
            margin-top: 55px;
        }

        &.horizontal {
            margin: 10px 0;
            text-align: right;

            &.left {
                text-align: left;

                a {
                    font-size: 16px;
                }
            }

            li {
                display: inline-block;
                list-style-type: none;
                margin: -2px;
                padding: 0 10px;
                border-right: 1px solid #d3d3d3;

                &:last-child {
                    border-right: none;
                }

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .creative-commons {
        font-size: 14px;
        text-align: right;
        padding: 0 10px;
        margin: 10px 0;

        a {
            font-size: 14px;
        }
    }

    .footer-icons a {
        display: inline-block;
        text-align: center;
        margin-right: 2px;
        margin-bottom: 10px;

        .footer-icon-glyph,
        &:visited .footer-icon-glyph {
            background: #f2f2f2 none repeat scroll 0 0;
            border: 1px solid #9e9e9e;
            border-radius: 50%;
            color: #000;
            display: block;
            font-size: 24px;
            width: 42px;
            height: 42px;
            padding: 3px;
            transition: border 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
        }

        &:hover .footer-icon-glyph,
        &:active .footer-icon-glyph,
        &:focus .footer-icon-glyph {
            background: #3778be;
            border: 1px solid #9e9e9e;
            color: #fff;
        }
    }

    .logos {
        div {
            display: inline-block;
            margin-right: 0;
            align-self: flex-end;
        }

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        display: -moz-flex;
        display: -o-flex;
        display: table-cell;
        height: 50px;
        line-height: 50px;
    }

    img {
        vertical-align: middle;
        display: inline-block;
    }

    hr {
        display: block;
        border-bottom: 1px solid #d2d2d2;
    }
}

.footer-icons {
    margin-top: 0;
}