/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 03 March 2020 11:19:16
*/


/* Fonts */
/* blues */
/* greys w blue analogous*/
/*Colours*/
/* Bootstrap Variable overrides*/
/* Headings Overrides*/
/* Breadcrumb overrides*/
/* Alert overrides*/
/* - change lightness/darkness of alert */
/* Buttons */
/* Table overrides*/
/* Forms */
/* FontAwesome 5 (FREE) */
.home h1 {
    font-size: 1.75rem;
  }
  #banner.jumbotron {
    background-image: url(https://dpti.sa.gov.au/saplanningportal/resources/images/home_page/portal-home-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
  }
  #banner.jumbotron > .img-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
  }
  #banner .btn-outline-secondary {
    color: #fff;
    border-color: #fff;
    padding: 0.6rem 1rem;
    font-weight: 600;
    border: 2px solid #fff;
    font-size: 1em;
  }
  #banner .btn-outline-secondary:hover {
    background-color: rgba(0, 0, 0, .4);
  }
  #banner .btn-outline-secondary:focus, #banner .btn-outline-secondary.focus {
    /*use mixin in integration*/
    box-shadow: 0px 0px 0px 4px #8f4995;
    -webkit-box-shadow: 0px 0px 0px 4px #8f4995;
    -moz-box-shadow: 0px 0px 0px 4px #8f4995;
    outline: none;
    -webkit-appearance: none;
  }
  #banner .btn-outline-secondary:active, #banner .btn-outline-secondary.active {
    background-color: rgba(0, 0, 0, .7);
    /*use mixin in integration*/
    box-shadow: 0px 0px 0px 0px #8f4995;
    -webkit-box-shadow: 0px 0px 0px 0px #8f4995;
    -moz-box-shadow: 0px 0px 0px 0px #8f4995;
    outline: none;
    -webkit-appearance: none;
  }
  #cta {
    margin-top: -2.2rem;
  }
  #cta .nav-tabs {
    flex-wrap: nowrap;
    box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    -moz-box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    outline: none;
    -webkit-appearance: none;
  }
  #cta .nav-tabs .nav-link {
    color: #fff;
    background-color: #111a23;
    border: 0px solid #fff;
    margin-bottom: 0;
    font-weight: bolder;
    flex: 1 1 auto;
    text-align: center;
    z-index: 99;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #cta .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border: 0px solid #fff;
    margin-bottom: -1px;
  }
  #cta .card {
    border: 0px solid rgba(0, 0, 0, .0);
    border-bottom: 2px solid #f0f4f5;
    /* $body-bg */
  }
  #cta .card.last-of-type {
    border-right: 0px solid #f0f4f5;
    /* $body-bg */
    border-bottom: 0px solid #f0f4f5;
    /* $body-bg */
  }
  #cta .tab-content {
    box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    -moz-box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    outline: none;
    -webkit-appearance: none;
  }
  #cta .card .card-title {
    position: relative;
    padding-right: 2rem;
    font-weight: 400;
  }
  #cta .card-block .icon {
    font-size: 2.5rem;
    color: #195c8a;
    vertical-align: middle;
  }
  #cta .card-block .iconstack {
    font-size: 1.5rem;
    color: #195c8a;
    vertical-align: middle;
    left: 7px;
    top: -6px;
  }
  #cta .tab-pane .card .card-block .stretched-link:link, #cta .tab-pane .card .card-block .stretched-link:visited {
    color: #000;
    text-decoration: none;
  }
  #cta .tab-pane .card .card-block:focus, #cta .tab-pane .card .card-block .stretched-link:focus {
    outline: none;
    -webkit-appearance: none;
  }
  #cta .tab-pane .card .card-block:hover .stretched-link .card-title, #cta .tab-pane .card .card-block:focus .stretched-link .card-title, #cta .tab-pane .card .card-block:active .stretched-link .card-title, #cta .tab-pane .card .card-block .stretched-link:hover .card-title, #cta .tab-pane .card .card-block .stretched-link:focus .card-title, #cta .tab-pane .card .card-block .stretched-link:active .card-title {
    text-decoration: underline;
    color: #000;
  }
  #cta .card .card-title::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f138";
  }
  @media (max-width: 991px) {
    #cta .card .card-title {
      font-size: 1em;
      margin-bottom: 0;
    }
    #cta .card .card-title > .svg-inline--fa {
      color: #323e48;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (max-width: 576px) {
    #cta .card .card-title > .svg-inline--fa {
      right: 0.5rem;
    }
  }
  @media (min-width: 992px) {
    /* 576px */
    .home h1 {
      font-size: 2.1rem;
    }
    #banner.jumbotron {
      height: 460px;
    }
    #cta {
      margin-top: -7.5rem;
    }
    #cta .nav-tabs {
      box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
      -webkit-box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
      -moz-box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
      outline: none;
      -webkit-appearance: none;
    }
    #cta .card {
      border-right: 2px solid #f0f4f5;
      /* $body-bg */
      border-bottom: 0px solid #f0f4f5;
      /* $body-bg */
    }
    #cta .card-block {
      /*position: absolute;*/
    }
    #cta .card-block:hover .tab_icon {
      background-position-y: 100%;
    }
    #cta .nav-tabs .nav-link {
      background-color: rgba(17, 26, 35, .5);
      /* $blackrgba */
      flex: none;
      padding-top: 1.15rem;
      padding-bottom: 1.15rem;
    }
    #check {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/check.svg);
    }
    #create {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/create.svg);
    }
    #find {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/find.svg);
    }
    #southaustralia {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/southaustralia.svg);
    }
    #comment {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/comment.svg);
    }
    #building {
      background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/building.svg);
    }
    .tab_icon {
      display: block;
      height: 40px;
      width: 40px;
      overflow: hidden;
      background-size: 100% !important;
    }
    #cta .card .card-title {
      padding-right: 0;
    }
    #cta .card .card-title > .svg-inline--fa {
      display: none;
    }
  }
  #development-search {
    background: url(https://dpti.sa.gov.au/saplanningportal/resources/images/icons/sectionfootergrey.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #development-search input {
    background: rgba(255, 255, 255, 0.8);
  }
  #development-search button[type="submit"] {
    background: none;
    border: none;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    font-size: 1.3rem;
  }
  #development-search button[type="submit"] .fa-search:hover {
    color: #206c80;
  }
  @media (min-width: 769px) {
    #development-search button[type="submit"] {
      top: 0.3em;
    }
  }
  #development-search svg .cityscape-fill {
    fill: #696980;
    fill-opacity: 0.2;
  }
  #placeholder {
    background-color: #fff;
  }
  