.accordion[id^="accordion"] {
    .card-header {
        border-bottom: none;
        &:hover,
        &:focus {
            cursor: pointer;
            box-sizing: border-box;
            @include useColourBorder(inset 0px 0px 0px 4px $purple);
        }
        &:after {
            @include useFontAwesome;
            content: "\f13a";
            position: relative;
        }
        &>.svg-inline--fa.fa-w-16 {
            position: relative;
            font-size: 1em;
            top: 0.3em;
            margin-right: .25em;
            margin-left: .4em;
        }
        &[aria-expanded="true"] {
            border-bottom: 1px solid $gray-300;
            &:after {
                content: "\f139";
            }
        }
    }
    .card {
        margin: 0.625em 0px;
        border: none;
    }
}

@media (max-width: 576px) {
    .accordion[id^="accordion"] {
        .card-header {
            &>.svg-inline--fa.fa-w-16 {
                top: 0.45em;
                font-size: 1em;
            }
        }
    }
}