    #alert-panel {
        background-color: $pale-blue;
        .alert-dismissible {
            padding-right: inherit;
        }
        .alert-panel {
            color: $body-color;
            background-color: $pale-blue;
            border: 0px solid transparent;
            border-left: 5px solid $bright-blue;
            width: 100%;
        }
        .alert-panel .close {
            opacity: 1;
            text-align: right;
            font-size: inherit;
            position: relative;
        }
    }