a.btn,
a.sq-form-submit {
    text-decoration: none;
}

.btn {
    &.btn-link {
        &:focus,
        &.focus {
            text-decoration: underline;
        }
    }
    &.btn-back-link {
        padding: 0;
        padding-bottom: 0.25rem;
        color: $blk;
        text-decoration: none;
        border-bottom: 1px solid $blk;
        &:hover,
        &:active,
        &.active {
            color: $black;
        }
        &:before {
            @include useFontAwesome;
            content: "\f0d9";
        }
        & > svg.svg-inline--fa {
            margin-right: 0.5em;
        }
    }
}

.btn.btn-primary,
.k-button {
    -webkit-box-shadow: 0 4px 0 $tundora;
    box-shadow: 0 4px 0 $tundora;
    &:hover {
        background-color: $blue-zodiac;
    }
    &:focus,
    .focus {
        -webkit-box-shadow: 0 4px 0 $blue-zodiac;
        box-shadow: 0 4px 0 $blue-zodiac;
    }
}

.btn.btn-primary > svg.svg-inline--fa {
    margin-left: 0.5em;
}

.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn.btn-primary:not(:disabled):not(.disabled).active:focus.btn {
    -webkit-box-shadow: 0 4px 0 $blue-zodiac;
    box-shadow: 0 4px 0 $blue-zodiac;
    border-top: 3px;
}
