footer {
    a {
        &:link,
        &:visited,
        &:active {
            text-decoration: none;
            color: inherit;
        }
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
    ul {
        li {
            a {
                font-size: 0.8947em;
            }
        }
    }
    ul.col-left li {
        list-style-type: none;
        border-right: 1px solid $dusty-blue;
        color: inherit;
    }
    ul li:last-child,
    .info-text ul li:last-child {
        border-right: none;
    }
    .info-text {
        font-size: 0.8947em;
        >ul>li {
            border-right: 1px solid $dusty-blue;
            padding: 0 0.4em;
            &:last-child {
                border-right: none;
            }
        }
    }
    .hr-border {
        border-color: $dusty-purple;
    }
    ul.ul-footer>li {
        font-size: 1.5em;
    }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    footer {
        .img-logo {
            &:nth-child(1)>a>img {
                width: 12em;
            }
            &:nth-child(2)>a>img {
                width: 6em;
            }
            &:nth-child(3)>a>img {
                width: 6em;
            }
        }
        .info-text {
            font-size: 15px;
        }
    }
}