// Button submit, Button reset 
$button-submit-icon: "\f054";
$button-reset-icon: "\f0e2";
$calendar-icon: '\f073';
// form labels & input fields 
$inputfield-box-color: $purple;
//this is the og --> $inputfield-box-shadow: 0 0 0 0.1rem rgba($inputfield-box-color, .7);
$inputfield-box-shadow: 0 0 0 0.1rem rgba($inputfield-box-color, .5);
// $inputfield-border-color: $limed-spruce;
$inputfield-border-color: $limed-spruce;
$inputfield-border: 2px solid $inputfield-border-color;
$inputfield-padding: 0.3em;
$formlabel-margin-bottom: 0;
$smalltext-line-height: 1.3157em;
$smalltexttop-margin: 0 0 0.4em 0;
$inputfield-background-color: $white;
$selectdropdown-arrow-down-icon: "\f078";
$checkcontainer-padding-left: 2.5em;
$checkcontainer-margin-bottom: 0.63em;
// checkbox 
$checkmark-top: 0;
$checkmark-left: 0;
$checkmark-border-color: $blk;
$checkmark-border: 2px solid $checkmark-border-color;
$checkmark-height: 2.2em;
$checkmark-width: 2.2em;
// checkbox after 
$checkmark-after-left: 0.7em;
$checkmark-after-top: 0.1em;
$checkmark-after-width: .5em;
$checkmark-after-height: 1.5em;
$checkmark-after-border: solid $blk;
$checkmark-after-border-width: 0 0.25em 0.25em 0;
$checkmark-after-transform-rotate: rotate(43deg);
$checkmarkMuted-border-color: $noble;
$checkmarkMuted-background: $noble;
$checkmarkMuted-box-shadow: inset 0 0 0 4px $wild-sands;
// Radio Button
$radio-margin: 1rem;
$radiolabel-border-before: 2px solid $blk;
$radiolabel-radius-before: 100%;
$radiolabel-background-before: $wild-sands;
$radiolabel-width-before: 1.8em;
$radiolabel-height-before: 1.8em;
$radiolabel-top-before: -0.1em;
$radiolabel-margin-right-before: 1em;
$radiolabel-checked-background-before: $blk;
$radiolabel-checked-boxshadow-before: inset 0 0 0 0.2631em $wild-sands;
$radiolabel-checked-border-before: 5px solid $purple;
$radiolabel-disabled-boxshadow-before: inset 0 0 0 3px $porcelain;
$radiolabel-disabled-bordercolor-before: $noble;
$radiolabel-disabled-background-before: $noble;
$radiolabel-empty-margin-right-before: 0;
// Radio Button - Unchecked Disabled
$radiolabel-uncheckdisabled-boxshadow-before: inset 0 0 0 10px $gallery;
$radiolabel-uncheckdisabled-bordercolor-before: 4px solid $noble;
$radiolabel-uncheckdisabled-background-before: transparent;
// Validation Error message 
$formgroup-error-border-left: 5px solid $shiraz;
$formgroup-error-padding: 0 0 0.1rem 0.7894rem;
$formgroup-error-margin: 0;
$formcontraol-error-border: 4px solid;
$formcontrol-error-border-color: $shiraz;
$errormessage-font-color: $shiraz;
$errormessage-font-size: 0.9em;
$errormessage-font-weight: 700;
// Button submit, Button reset 
.btn-submit:after,
.btn-reset:before {
    @include useFontAwesome;
    padding: 0 2em;
}

.btn-submit:after {
    content: $button-submit-icon;
}

.btn-reset:before {
    content: $button-reset-icon;
}

button,
a {
    &.btn-submit {
        @include useColourBorder(0 4px 0 $tundora);
        &::hover {
            background-color: $blue-zodiac;
        }
        &:focus,
        &.focus {
            @include useColourBorder(0 4px 0 $blue-zodiac);
        }
        &:not(:disabled):not(.disabled):active:focus,
         :not(:disabled):not(.disabled).active:focus.btn {
            ;
            @include useColourBorder(0 4px 0 $blue-zodiac);
            border-top: 3px;
        }
        & .svg-inline--fa {
            margin: 0 0 0 0.4em;
        }
    }
    &.btn-reset {
        @include useColourBorder(0 4px 0 $tundora);
        &::hover {
            background-color: $blue-zodiac;
        }
        &:focus,
        &.focus {
            @include useColourBorder(0 4px 0 $blue-zodiac);
        }
        &:not(:disabled):not(.disabled):active:focus,
         :not(:disabled):not(.disabled).active:focus.btn {
            ;
            @include useColourBorder(0 4px 0 $blue-zodiac);
            border-top: 3px;
        }
        & .svg-inline--fa {
            margin: 0 0.2em 0 0;
        }
    }
}

input.btn-submit:after {
    @include useFontAwesome;
    content: "\f054";
}

// form labels & input fields 
.form-control,
.sq-form-field {
    border: $inputfield-border;
    padding: $inputfield-padding;
    &:focus {
        border-color: $mamba;
        @include useColourBorder($inputfield-box-shadow);
    }
}

label,
.sq-form-question-title {
    font-weight: 600 !important;
    margin-bottom: $formlabel-margin-bottom;
}

.small-text-top,
.small-text-bottom {
    line-height: $smalltext-line-height;
}

.small-text-top {
    margin: $smalltexttop-margin;
}

.small-text-bottom {
    margin: $smalltexttop-margin;
}

.calendar-icon:after {
    @include useFontAwesome;
    content: $calendar-icon;
}

.calendar {
    padding: 0.1em 0.3em;
    position: absolute;
    right: 0;
    background: transparent;
    font-size: 1.4em;
}

// checkbox container
.check-container {
    display: block;
    position: relative;
    padding-left: $checkcontainer-padding-left;
    margin-bottom: $checkcontainer-margin-bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        /* When the checkbox is checked, add a blue background */
        &:checked~.checkmark {
            background-color: $inputfield-background-color;
            border: $checkmark-border;
            /* Show the checkmark when checked */
            &:after {
                display: block;
            }
        }
    }
    /* On mouse-over, add a light blue background color */
    &:hover input~.checkmark {
        // box-shadow: $inputfield-box-shadow;
        @include useColourBorder($inputfield-box-shadow);
    }
    &:focus input~.checkmark {
        // box-shadow: $inputfield-box-shadow;
        @include useColourBorder($inputfield-box-shadow);
    }
    // Create a custom checkbox 
    .checkmark {
        position: absolute;
        top: $checkmark-top;
        left: $checkmark-left;
        height: $checkmark-height;
        width: $checkmark-width;
        background-color: $inputfield-background-color;
        border: $checkmark-border;
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: $checkmark-after-left;
            top: $checkmark-after-top;
            width: $checkmark-after-width;
            height: $checkmark-after-height;
            border: $checkmark-after-border;
            border-width: $checkmark-after-border-width;
            -webkit-transform: $checkmark-after-transform-rotate;
            -ms-transform: $checkmark-after-transform-rotate;
            -moz-transform: $checkmark-after-transform-rotate;
            transform: $checkmark-after-transform-rotate;
        }
        &.text-muted,
        &.text-muted:hover {
            // box-shadow: $checkmarkMuted-box-shadow;
            @include useColourBorder($checkmarkMuted-box-shadow);
            border-color: $checkmarkMuted-border-color;
            background: $checkmarkMuted-background;
            cursor: not-allowed;
        }
    }
}

// Radio Button
div[class*="col-"].radio label {
    margin-right: 1rem;
}

.radio,
.sq-form-question-option-list {
    margin-top: $radio-margin;
    margin-bottom: $radio-margin;
    & .sq-form-question-answer li {
        position: relative;
        padding-left: 0;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    & small {
        padding-left: 3rem;
        padding-top: 0.25rem;
    }
    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: auto;
        &+.radio-label,
        &+label {
            padding-left: 3rem;
        }
        /* radio border */
        &+.radio-label:before,
        &+label:before {
            content: '';
            background: $radiolabel-background-before;
            border-radius: $radiolabel-radius-before;
            border: $radiolabel-border-before;
            display: inline-block;
            width: $radiolabel-width-before;
            height: $radiolabel-height-before;
            // 			position: relative;
            // 			top: $radiolabel-top-before;
            position: absolute;
            left: 0;
            // 			margin-right: $radiolabel-margin-right-before;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
        }
        &:checked+.radio-label:before,
        &:checked+label:before {
            background-color: $radiolabel-checked-background-before;
            box-shadow: $radiolabel-checked-boxshadow-before;
        }
        &:focus+.radio-label:before,
        &:focus+label:before {
            outline: none;
            border: $radiolabel-checked-border-before;
        }
        &:disabled+.radio-label:before,
        &:disabled+label:before {
            box-shadow: inset 0 0 0 10px $gallery;
            border: 4px solid $noble;
            background: transparent;
        }
        &:disabled:checked+.radio-label:before,
        &:disabled:checked+label:before {
            box-shadow: $radiolabel-disabled-boxshadow-before;
            border-color: $radiolabel-disabled-bordercolor-before;
            background: $radiolabel-disabled-background-before;
        }
    }
}

.radio-inline {
    margin: 0.5rem;
    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: auto;
        &+.radio-inline-label:before {
            content: '';
            background: $wild-sands;
            border-radius: 100%;
            border: 2px solid $blk;
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            position: relative;
            top: -0.2em;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
        }
        &:checked+.radio-inline-label:before {
            background-color: $radiolabel-checked-background-before;
            box-shadow: $radiolabel-checked-boxshadow-before;
        }
        &:focus+.radio-inline-label:before {
            outline: none;
            border: $radiolabel-checked-border-before;
        }
        &:disabled+.radio-inline-label:before {
            box-shadow: $radiolabel-disabled-boxshadow-before;
            border-color: $radiolabel-disabled-bordercolor-before;
            background: $radiolabel-disabled-background-before;
        }
        &:disabled+.radio-inline-label.unchecked-disabled:before {
            box-shadow: $radiolabel-uncheckdisabled-boxshadow-before;
            border: $radiolabel-uncheckdisabled-bordercolor-before;
            background: $radiolabel-uncheckdisabled-background-before;
        }
    }
}

// Radio End 
// Validation Error Messages 
.form-group-error {
    border-left: $formgroup-error-border-left;
    padding: $formgroup-error-padding;
    & .radio label:before {
        margin-left: 1rem;
    }
    & div[class*="col-"].radio label:before {
        margin-left: 0rem;
    }
}

.form-control-error {
    border: $formcontraol-error-border $formcontrol-error-border-color !important;
}

.sq-form-required-field {
    display: none;
}

.error-message,
.sq-form-errors-message {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: $errormessage-font-size;
    color: $errormessage-font-color;
    font-weight: $errormessage-font-weight;
}

.input-group,
.form-group,
.sq-form-question {
    margin-bottom: 2rem;
    >.form-control-error {
        width: 100%;
    }
    // Select Dropdown
    & .select, // 	& svg.svg-inline--fa,
    &.sq-form-question-select .sq-form-question-answer {
        width: 100%;
        &>svg.svg-inline--fa {
            position: absolute;
            color: $white;
            right: 0;
            top: 0;
            cursor: pointer;
            height: 2.4em;
            width: 1.4em;
            font-size: 1em;
            padding: .2em;
            background: $nevada;
            pointer-events: none;
        }
        &:after {
            @include useFontAwesome;
            content: $selectdropdown-arrow-down-icon;
        }
        & select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            border: 2px solid $limed-spruce;
            color: $blk;
            cursor: pointer;
            width: 100%;
            height: calc(1.25em + 1.1em + 2px);
            padding-left: .3em;
            &:focus,
            &:focus-within {
                @include useColourBorder($inputfield-box-shadow);
            }
        }
    }
}