@media (max-width: 767px){
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
    h3, .h3 { 
        margin: 1rem 0 1.25rem;
    }
    h4, .h4 { 
        margin: 1rem 0 1rem;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}
@media (min-width: 768px){
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    h3, .h3 { 
        margin: 2rem 0 1.5rem;
    }
    h4, .h4 { 
        margin: 1.75rem 0 1rem;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}
@media (max-width: 576px) {
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    h3, .h3 { 
        margin: 1rem 0 0.5rem;
    }
    h4, .h4 { 
        margin: .8rem 0 0.5rem;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}