/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 12 March 2020 15:00:40
*/


/* Fonts */


/* blues */


/* greys w blue analogous*/


/*Colours*/


/* Bootstrap Variable overrides*/


/* Headings Overrides*/


/* Breadcrumb overrides*/


/* Alert overrides*/


/* - change lightness/darkness of alert */


/* Buttons */


/* Table overrides*/


/* Forms */


/* FontAwesome 5 (FREE) */

.full-width-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-width-container {
    width: 100vw;
    position: relative;
}

.jconfirm.jconfirm-supervan a {
    color: $white;
}

a[href="#nolink"],
a[href="#"]:not([data-hover="hovertext"]):not(.page-link):not([data-modal="true"]),
a[href=""]:not([data-hover="hovertext"]) {
    padding: 0.2em;
    color: $red !important;
    background-color: #fcf8e3;
}

a[href="#nolink"]>svg.svg-inline--fa,
a[href="#"]:not([data-hover="hovertext"]):not(.page-link):not([data-modal="true"])>svg.svg-inline--fa,
a[href=""]:not([data-hover="hovertext"])>svg.svg-inline--fa {
    font-size: 1em;
    margin-right: 0.5em;
}

a[href="#nolink"]::before,
a[href="#"]:not([data-hover="hovertext"]):not(.page-link):not([data-modal="true"])::before,
a[href=""]:not([data-hover="hovertext"])::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f188";
}

a[href="#nolink"]:hover::after,
a[href="#"]:not([data-hover="hovertext"]):not(.page-link):not([data-modal="true"]):hover::after,
a[href=""]:not([data-hover="hovertext"]):hover::after {
    content: "link does not exist";
    padding: 2px;
    position: absolute;
    width: 175px;
    text-align: center;
    background-color: $beeswax;
    border: 1px solid $old-gold;
    z-index: 9999;
}

.grow {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    font-size: 125%;
    transition: all 1s ease-in-out;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    padding-right: 15px;
}

.breadcrumb-item+.breadcrumb-item>svg.svg-inline--fa {
    font-size: 0.75em;
    margin: 0 5px 0 0;
}

a[href*="#hovertext"],
a[data-action=hovertext],
*[data-hover=hovertext] {
    cursor: help;
    text-decoration: none !important;
    border-bottom: 1px dashed $jelly-bean;
}

.lead {
    font-size: 1.3em;
    font-weight: 400;
    border-bottom: 1px solid $alto;
    margin-bottom: 1.75em;
    padding-bottom: 1.5em;
}

.font-25 {
    font-size: 25%;
}

.font-30 {
    font-size: 30%;
}

.font-35 {
    font-size: 35%;
}

.font-40 {
    font-size: 40%;
}

.font-45 {
    font-size: 45%;
}

.font-50 {
    font-size: 50%;
}

.font-55 {
    font-size: 55%;
}

.font-60 {
    font-size: 60%;
}

.font-65 {
    font-size: 65%;
}

.font-70 {
    font-size: 70%;
}

.font-75 {
    font-size: 75%;
}

.font-80 {
    font-size: 80%;
}

.font-85 {
    font-size: 85%;
}

.font-90 {
    font-size: 90%;
}

.font-95 {
    font-size: 95%;
}

.font-100 {
    font-size: 100%;
}

fieldset {
    min-width: max-content;
}

blockquote {
    padding: 1rem;
    font-style: italic;
}

dt {
    font-weight: bold;
    margin: 1em 0;
}

dd {
    font-style: italic;
    margin: 0 0 0.5em 1em;
}

pre {
    padding: 0.2rem 0.4rem;
    font-size: inherit;
    color: $red;
    background-color: $athens-gray;
}

.page-wrapper {
    overflow: inherit;
}

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    position: static;
    width: auto;
    height: auto;
}

body.home .hide-on-home {
    display: none !important;
}

.lp-banner-img {
    height: 180px;
    max-width: 1920px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .lp-banner-img {
        height: 175px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

body {
    background-color: $body-bg;
}

textarea#feedbackComment {
    height: 10em;
}

hr.theme-hr {
    border-top: 3px solid #8d7e9a;
}

.navbar-nav li {
    position: relative;
}

.dropdown-menu-hover {
    margin-top: -1px;
}

@media (min-width: 768px) {
    li:hover>.dropdown-menu.dropdown-menu-hover {
        display: block;
    }
}

.list-group-item-nav {
    padding: 0;
}

.list-group-item-nav>a {
    display: block;
    padding: 0.7rem 1rem;
}

.list-group-item-nav.active>a,
.list-group-item-nav.active:focus>a,
.list-group-item-nav.active:hover>a {
    color: #fff;
}

.list-group-item-nav.hierarchy>a,
.list-group-item-nav.hierarchy:focus>a,
.list-group-item-nav.hierarchy:hover>a {
    color: #33658f;
}

.list-group-item-nav.hierarchy,
.list-group-item-nav.hierarchy:focus,
.list-group-item-nav.hierarchy:hover {
    background-color: #fff;
}

.list-group-sub {
    margin: 0;
}

.list-group-sub>.list-group-item-nav {
    border: none;
    border-radius: 0;
    border-top: 1px dotted #ddd;
}

.list-group-sub>.list-group-item-nav>a {
    padding-left: 2rem;
    font-size: 80%;
}

.alert.alert-infoBlock>svg.svg-inline--fa {
    font-size: 2em;
    margin-right: 0.5em;
}

.alert.alert-infoBlock::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f06a";
}

.alert.alert-infoBlock {
    font-weight: 700;
}

.plus .bodycopy_content_wrapper .table,
.sq-edit-content-type-wrapper .table,
.sq-wysiwyg-preview-wrapper .table,
.table {
    background-color: #fff;
}

.plus .bodycopy_content_wrapper .table caption,
.sq-edit-content-type-wrapper .table caption,
.sq-wysiwyg-preview-wrapper .table caption,
.table caption {
    background-color: #33658f;
    caption-side: top;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bolder;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.plus .bodycopy_content_wrapper .table th,
.sq-edit-content-type-wrapper .table th,
.sq-wysiwyg-preview-wrapper .table th,
.table th,
.plus .bodycopy_content_wrapper .table td,
.sq-edit-content-type-wrapper .table td,
.sq-wysiwyg-preview-wrapper .table td,
.table td {
    padding: 0.75rem 1rem 0.75rem 0;
    vertical-align: top;
    border-bottom: 1px solid #d7dbdc;
    border-top-width: 0;
}

.plus .bodycopy_content_wrapper .table th:last-of-type,
.sq-edit-content-type-wrapper .table th:last-of-type,
.sq-wysiwyg-preview-wrapper .table th:last-of-type,
.table th:last-of-type,
.plus .bodycopy_content_wrapper .table td:last-of-type,
.sq-edit-content-type-wrapper .table td:last-of-type,
.sq-wysiwyg-preview-wrapper .table td:last-of-type,
.table td:last-of-type {
    padding-right: 0;
}

.plus .bodycopy_content_wrapper .table thead th,
.sq-edit-content-type-wrapper .table thead th,
.sq-wysiwyg-preview-wrapper .table thead th,
.table thead th {
    vertical-align: bottom;
    font-size: 20.4px;
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 0;
    background-color: #fff !important;
}

.plus .bodycopy_content_wrapper .table thead td,
.sq-edit-content-type-wrapper .table thead td,
.sq-wysiwyg-preview-wrapper .table thead td,
.table thead td {
    padding-left: 0;
}

.side-nav ul {
    font-size: 0.8em;
}

.side-nav .navbar-text {
    font-size: 0.9em;
}

@media (max-width: 767px) {
    .side-nav ul {
        font-size: 0.85em;
    }
    .side-nav .navbar-text {
        font-size: 0.95em;
    }
}

#inpage-nav.side-nav .list-group-item-nav>a.active,
#inpage-nav.side-nav .list-group-item-nav:focus>a.active,
#inpage-nav.side-nav .list-group-item-nav:hover>a.active,
#inpage-nav.side-nav .list-group-item-nav>a,
#inpage-nav.side-nav .list-group-item-nav:focus>a,
#inpage-nav.side-nav .list-group-item-nav:hover>a {
    color: #33658f;
    text-decoration: none;
}

#inpage-nav.side-nav .list-group-item {
    z-index: 2;
    color: #33658f;
    border-color: transparent;
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
}

#inpage-nav.side-nav .list-group-item>a.active {
    background-color: transparent;
    border-left: 5px solid #8f4995;
}

#inpage-nav.side-nav .list-group-item>a:not(.active) {
    padding-left: calc(.75rem + 9px);
}

#inpage-nav.side-nav .sticky-top {
    top: 30px;
}

#document-nav.side-nav ul {
    border-top: 0.3125em solid #8f4995;
    padding-top: 1.25rem;
}

@media (max-width: 767px) {
    h2,
    .h2 {
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 768px) {
    h2,
    .h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    h2,
    .h2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}

a.btn,
a.sq-form-submit {
    text-decoration: none;
}

.btn {
    border-radius: none;
    border-color: none;
}

.btn.btn-link:focus.btn-link:focus,
.btn.btn-link.focus.btn-link.focus {
    text-decoration: underline;
}

.btn.btn-back-link.btn-back-link {
    padding: 0;
    padding-bottom: 0.25rem;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.btn.btn-back-link:hover.btn-back-link:hover,
.btn.btn-back-link:active.btn-back-link:active,
.btn.btn-back-link.active.btn-back-link.active {
    color: #000;
}

.btn.btn-back-link:before.btn-back-link:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f0d9";
}

.btn.btn-back-link>svg.svg-inline--fa.btn-back-link>svg.svg-inline--fa {
    margin-right: 0.5em;
}

.btn.btn-primary {
    -webkit-box-shadow: 0 4px 0 #4a4a4a;
    box-shadow: 0 4px 0 #4a4a4a;
}

.btn.btn-primary:hover:hover {
    background-color: #103555;
}

.btn.btn-primary:focus:focus,
.btn.btn-primary .focus .focus {
    -webkit-box-shadow: 0 4px 0 #103555;
    box-shadow: 0 4px 0 #103555;
}

.btn.btn-primary>svg.svg-inline--fa {
    margin-left: 0.5em;
}

.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn.btn-primary:not(:disabled):not(.disabled).active:focus.btn {
    -webkit-box-shadow: 0 4px 0 #103555;
    box-shadow: 0 4px 0 #103555;
    border-top: 3px;
}

figure figcaption.figure-caption {
    color: inherit;
}

.numberListProcess {
    list-style: none;
    padding: 1em 0;
    position: relative;
    margin: 1.6em 0 0 1.25em;
    list-style-position: outside;
    counter-reset: lisitem;
}

.numberListProcess>li>* {
    margin: 5px 0 10px 10px;
}

.numberListProcess>li {
    border-left: 12px solid #323e48;
    padding: 0px 0px 1.2em 1.4em;
    list-style: none;
    margin: 0 !important;
    line-height: 1.6;
}

.numberListProcess>li:last-of-type:before {
    margin-left: -3.1em;
}

.numberListProcess>li:before {
    color: #fff;
    float: left;
    font-weight: 700;
    text-align: center;
    display: block;
    position: relative;
    counter-increment: lisitem;
    content: counter(lisitem);
    border: 5px solid $body-bg;
    background: #323e48;
    background-clip: padding-box;
    font-size: 1em;
    top: -0.55em;
    border-radius: 50%;
    margin-left: -3.18em;
    width: 2.9em;
    height: 2.9em;
    padding-top: 0.35em;
}

.numberListProcess>li:last-child {
    border-left: 0;
    padding-left: calc(1.4em + 10px);
}

.accordion[id^="accordion"] .card-header {
    border-bottom: none;
}

.accordion[id^="accordion"] .card-header:hover,
.accordion[id^="accordion"] .card-header:focus {
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 4px #8f4995;
    -webkit-box-shadow: inset 0px 0px 0px 4px #8f4995;
    -moz-box-shadow: inset 0px 0px 0px 4px #8f4995;
    outline: none;
    -webkit-appearance: none;
}

.accordion[id^="accordion"] .card-header:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f13a";
    position: relative;
}

.accordion[id^="accordion"] .card-header>.svg-inline--fa.fa-w-16 {
    position: relative;
    font-size: 1em;
    top: 0.3em;
    margin-right: 0.25em;
    margin-left: 0.4em;
}

.accordion[id^="accordion"] .card-header[aria-expanded="true"] {
    border-bottom: 1px solid #d9d9d9;
}

.accordion[id^="accordion"] .card-header[aria-expanded="true"]:after {
    content: "\f139";
}

.accordion[id^="accordion"] .card {
    margin: 0.625em 0px;
    border: none;
}

@media (max-width: 576px) {
    .accordion[id^="accordion"] .card-header>.svg-inline--fa.fa-w-16 {
        top: 0.45em;
        font-size: 1em;
    }
}

#toc_guide li.disabled a {
    color: #000;
    text-decoration: none;
}

#toc_guide li:before {
    content: "\2014";
    padding-right: 0.5em;
}

#toc_guide_nav .btn-outline-previous,
#toc_guide_nav .btn-outline-next {
    border: 2px solid #dcddde;
    background-color: transparent;
    color: #0d61b1;
}

#toc_guide_nav .btn-outline-previous a,
#toc_guide_nav .btn-outline-next a {
    color: #0d61b1;
}

#toc_guide_nav .btn-outline-previous:hover,
#toc_guide_nav .btn-outline-next:hover,
#toc_guide_nav .btn-outline-previous:active,
#toc_guide_nav .btn-outline-next:active,
#toc_guide_nav .btn-outline-previous:focus,
#toc_guide_nav .btn-outline-next:focus {
    color: #0d61b1;
    box-sizing: border-box;
    border: 2px solid #8f4995;
    box-shadow: inset 0px 0px 0px 2px #8f4995;
    -webkit-box-shadow: inset 0px 0px 0px 2px #8f4995;
    -moz-box-shadow: inset 0px 0px 0px 2px #8f4995;
    outline: none;
    -webkit-appearance: none;
}

#toc_guide_nav .btn-outline-previous::before,
#toc_guide_nav .btn-outline-next::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
}

#toc_guide_nav .btn-outline-previous>svg.svg-inline--fa,
#toc_guide_nav .btn-outline-next>svg.svg-inline--fa {
    font-size: 2.5em;
    float: left;
    font-weight: 700;
}

#toc_guide_nav .btn-outline-next::before {
    content: "\f138";
}

#toc_guide_nav .btn-outline-previous::before {
    content: "\f137";
}

.spinme {
    width: 100%;
    text-align: center;
}

.spinme .loader {
    border: 16px solid #d7dce0;
    border-top: 16px solid #138d75;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pagination li .ellipse.clickable {
    display: block;
    padding: 0.47rem 0.5rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #000;
}

.pagination li .ellipse.clickable>input {
    padding: 0;
    border: none;
}

.pagination li .page-link {
    position: relative;
    display: block;
    padding: 0.4rem 0.5rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.pagination li.active {
    cursor: no-drop;
}

.pagination li.active>a,
.pagination li.active>span,
.pagination li.active>a:focus,
.pagination li.active>a:hover,
.pagination li.active>span:focus,
.pagination li.active>span:hover {
    background-color: #586169;
    border-color: #586169;
    color: #fff;
    position: relative;
    display: block;
    padding: 0.47rem 0.6rem;
    margin-left: -1px;
    line-height: 1.25;
    border-style: solid;
    border-width: 1px;
}

.pagination li.disabled {
    cursor: no-drop;
}

.pagination li.disabled>a,
.pagination li.disabled>span,
.pagination li.disabled>a:focus,
.pagination li.disabled>a:hover,
.pagination li.disabled>span:focus,
.pagination li.disabled>span:hover {
    background-color: #fff;
    color: #000;
    position: relative;
    display: block;
    padding: 0.47rem 0.7rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #586169;
}

#feedback-widget {
    min-height: 184px;
}

#template603882 .lp-template .card {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    box-sizing: border-box;
    box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    -webkit-box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    -moz-box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    outline: none;
    -webkit-appearance: none;
}

#template603882 .lp-template .card:hover {
    box-shadow: inset 0px 0px 0px 4px #8f4995;
    -webkit-box-shadow: inset 0px 0px 0px 4px #8f4995;
    -moz-box-shadow: inset 0px 0px 0px 4px #8f4995;
    outline: none;
    -webkit-appearance: none;
}

#template603882 .lp-template .card:hover,
#template603882 .lp-template .card:focus {
    outline: none;
    -webkit-appearance: none;
}

#template603882 .lp-template .card .card-title {
    margin-bottom: 1rem;
}

#template603882 .lp-template .card .card-title a {
    text-decoration: none;
}

#template603882 .lp-template .card .card-title a:hover,
#template603882 .lp-template .card .card-title a:active,
#template603882 .lp-template .card .card-title a:focus {
    text-decoration: underline;
}

#template603882 .lead {
    border-bottom: 0px solid transparent;
    margin-bottom: 0;
    padding-bottom: 0;
}

form[id^="search_page_"] button[type="submit"] {
    background: none;
    border: none;
    position: absolute;
    top: 0.25em;
    right: 0.1em;
    font-size: 1.3rem;
}

form[id^="search_page_"] button[type="submit"] .fa-search:hover {
    color: #206c80;
}

.btn-submit:after,
.btn-reset:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    padding: 0 2em;
}

.btn-submit:after {
    content: "\f054";
}

.btn-reset:before {
    content: "\f0e2";
}

button.btn-submit,
a.btn-submit {
    box-shadow: 0 4px 0 #4a4a4a;
    -webkit-box-shadow: 0 4px 0 #4a4a4a;
    -moz-box-shadow: 0 4px 0 #4a4a4a;
    outline: none;
    -webkit-appearance: none;
}

button.btn-submit::hover,
a.btn-submit::hover {
    background-color: #103555;
}

button.btn-submit:focus,
a.btn-submit:focus,
button.btn-submit.focus,
a.btn-submit.focus {
    box-shadow: 0 4px 0 #103555;
    -webkit-box-shadow: 0 4px 0 #103555;
    -moz-box-shadow: 0 4px 0 #103555;
    outline: none;
    -webkit-appearance: none;
}

button.btn-submit:not(:disabled):not(.disabled):active:focus,
a.btn-submit:not(:disabled):not(.disabled):active:focus,
button.btn-submit :not(:disabled):not(.disabled).active:focus.btn,
a.btn-submit :not(:disabled):not(.disabled).active:focus.btn {
    box-shadow: 0 4px 0 #103555;
    -webkit-box-shadow: 0 4px 0 #103555;
    -moz-box-shadow: 0 4px 0 #103555;
    outline: none;
    -webkit-appearance: none;
    border-top: 3px;
}

button.btn-submit .svg-inline--fa,
a.btn-submit .svg-inline--fa {
    margin: 0 0 0 0.4em;
}

button.btn-reset,
a.btn-reset {
    box-shadow: 0 4px 0 #4a4a4a;
    -webkit-box-shadow: 0 4px 0 #4a4a4a;
    -moz-box-shadow: 0 4px 0 #4a4a4a;
    outline: none;
    -webkit-appearance: none;
}

button.btn-reset::hover,
a.btn-reset::hover {
    background-color: #103555;
}

button.btn-reset:focus,
a.btn-reset:focus,
button.btn-reset.focus,
a.btn-reset.focus {
    box-shadow: 0 4px 0 #103555;
    -webkit-box-shadow: 0 4px 0 #103555;
    -moz-box-shadow: 0 4px 0 #103555;
    outline: none;
    -webkit-appearance: none;
}

button.btn-reset:not(:disabled):not(.disabled):active:focus,
a.btn-reset:not(:disabled):not(.disabled):active:focus,
button.btn-reset :not(:disabled):not(.disabled).active:focus.btn,
a.btn-reset :not(:disabled):not(.disabled).active:focus.btn {
    box-shadow: 0 4px 0 #103555;
    -webkit-box-shadow: 0 4px 0 #103555;
    -moz-box-shadow: 0 4px 0 #103555;
    outline: none;
    -webkit-appearance: none;
    border-top: 3px;
}

button.btn-reset .svg-inline--fa,
a.btn-reset .svg-inline--fa {
    margin: 0 0.2em 0 0;
}

input.btn-submit:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f054";
}

.form-control,
.sq-form-field {
    border: 2px solid #323e48;
    padding: 0.3em;
}

.form-control:focus,
.sq-form-field:focus {
    border-color: #8d7e9a;
    box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -webkit-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -moz-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    outline: none;
    -webkit-appearance: none;
}

label,
.sq-form-question-title {
    font-weight: 600 !important;
    margin-bottom: 0;
}

.small-text-top,
.small-text-bottom {
    line-height: 1.3157em;
}

.small-text-top {
    margin: 0 0 0.4em 0;
}

.small-text-bottom {
    margin: 0 0 0.4em 0;
}

.calendar-icon:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: '\f073';
}

.calendar {
    padding: 0.1em 0.3em;
    position: absolute;
    right: 0;
    background: transparent;
    font-size: 1.4em;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 0.63em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    /* On mouse-over, add a light blue background color */
}

.check-container input {
    position: absolute;
    opacity: 0;
    /* When the checkbox is checked, add a blue background */
}

.check-container input:checked~.checkmark {
    background-color: #fff;
    border: 2px solid #000;
    /* Show the checkmark when checked */
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container:hover input~.checkmark {
    box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -webkit-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -moz-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    outline: none;
    -webkit-appearance: none;
}

.check-container:focus input~.checkmark {
    box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -webkit-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -moz-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    outline: none;
    -webkit-appearance: none;
}

.check-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.2em;
    width: 2.2em;
    background-color: #fff;
    border: 2px solid #000;
    /* Create the checkmark/indicator (hidden when not checked) */
}

.check-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.7em;
    top: 0.1em;
    width: 0.5em;
    height: 1.5em;
    border: solid #000;
    border-width: 0 0.25em 0.25em 0;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    transform: rotate(43deg);
}

.check-container .checkmark.text-muted,
.check-container .checkmark.text-muted:hover {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
    -moz-box-shadow: inset 0 0 0 4px #f4f4f4;
    outline: none;
    -webkit-appearance: none;
    border-color: #b4b4b4;
    background: #b4b4b4;
    cursor: not-allowed;
}

div[class*="col-"].radio label {
    margin-right: 1rem;
}

.radio,
.sq-form-question-option-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.radio .sq-form-question-answer li,
.sq-form-question-option-list .sq-form-question-answer li {
    position: relative;
    padding-left: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.radio small,
.sq-form-question-option-list small {
    padding-left: 3.125em;
}

.radio input[type="radio"],
.sq-form-question-option-list input[type="radio"] {
    position: absolute;
    opacity: 0;
    /* radio border */
}

.radio input[type="radio"]+.radio-label,
.sq-form-question-option-list input[type="radio"]+.radio-label,
.radio input[type="radio"]+label,
.sq-form-question-option-list input[type="radio"]+label {
    padding-left: 3rem;
}

.radio input[type="radio"]+.radio-label:before,
.sq-form-question-option-list input[type="radio"]+.radio-label:before,
.radio input[type="radio"]+label:before,
.sq-form-question-option-list input[type="radio"]+label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 2px solid #000;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    left: 0;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before,
.sq-form-question-option-list input[type="radio"]:checked+.radio-label:before,
.radio input[type="radio"]:checked+label:before,
.sq-form-question-option-list input[type="radio"]:checked+label:before {
    background-color: #000;
    box-shadow: inset 0 0 0 0.2631em #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before,
.sq-form-question-option-list input[type="radio"]:focus+.radio-label:before,
.radio input[type="radio"]:focus+label:before,
.sq-form-question-option-list input[type="radio"]:focus+label:before {
    outline: none;
    border: 5px solid #8f4995;
}

.radio input[type="radio"]:disabled+.radio-label:before,
.sq-form-question-option-list input[type="radio"]:disabled+.radio-label:before,
.radio input[type="radio"]:disabled+label:before,
.sq-form-question-option-list input[type="radio"]:disabled+label:before {
    box-shadow: inset 0 0 0 10px #efefef;
    border: 4px solid #b4b4b4;
    background: transparent;
}

.radio input[type="radio"]:disabled:checked+.radio-label:before,
.sq-form-question-option-list input[type="radio"]:disabled:checked+.radio-label:before,
.radio input[type="radio"]:disabled:checked+label:before,
.sq-form-question-option-list input[type="radio"]:disabled:checked+label:before {
    box-shadow: inset 0 0 0 3px #eef0f1;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio-inline {
    margin: 0.5rem;
}

.radio-inline input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio-inline input[type="radio"]+.radio-inline-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 2px solid #000;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio-inline input[type="radio"]:checked+.radio-inline-label:before {
    background-color: #000;
    box-shadow: inset 0 0 0 0.2631em #f4f4f4;
}

.radio-inline input[type="radio"]:focus+.radio-inline-label:before {
    outline: none;
    border: 5px solid #8f4995;
}

.radio-inline input[type="radio"]:disabled+.radio-inline-label:before {
    box-shadow: inset 0 0 0 3px #eef0f1;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio-inline input[type="radio"]:disabled+.radio-inline-label.unchecked-disabled:before {
    box-shadow: inset 0 0 0 10px #efefef;
    border: 4px solid #b4b4b4;
    background: transparent;
}

.form-group-error {
    border-left: 5px solid #b10e1e;
    padding: 0 0 0.1rem 0.7894rem;
}

.form-group-error .radio label:before {
    margin-left: 1rem;
}

.form-group-error div[class*="col-"].radio label:before {
    margin-left: 0rem;
}

.form-control-error {
    border: 4px solid #b10e1e !important;
}

.sq-form-required-field {
    display: none;
}

.error-message,
.sq-form-errors-message {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: #b10e1e;
    font-weight: 700;
}

.input-group,
.form-group,
.sq-form-question {
    margin-bottom: 2rem;
}

.input-group>.form-control-error,
.form-group>.form-control-error,
.sq-form-question>.form-control-error {
    width: 100%;
}

.input-group .select,
.form-group .select,
.sq-form-question .select,
.input-group.sq-form-question-select .sq-form-question-answer,
.form-group.sq-form-question-select .sq-form-question-answer,
.sq-form-question.sq-form-question-select .sq-form-question-answer {
    width: 100%;
}

.input-group .select>svg.svg-inline--fa,
.form-group .select>svg.svg-inline--fa,
.sq-form-question .select>svg.svg-inline--fa,
.input-group.sq-form-question-select .sq-form-question-answer>svg.svg-inline--fa,
.form-group.sq-form-question-select .sq-form-question-answer>svg.svg-inline--fa,
.sq-form-question.sq-form-question-select .sq-form-question-answer>svg.svg-inline--fa {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 2.4em;
    width: 1.4em;
    font-size: 1em;
    padding: 0.2em;
    background: #626567;
    pointer-events: none;
}

.input-group .select:after,
.form-group .select:after,
.sq-form-question .select:after,
.input-group.sq-form-question-select .sq-form-question-answer:after,
.form-group.sq-form-question-select .sq-form-question-answer:after,
.sq-form-question.sq-form-question-select .sq-form-question-answer:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f078";
}

.input-group .select select,
.form-group .select select,
.sq-form-question .select select,
.input-group.sq-form-question-select .sq-form-question-answer select,
.form-group.sq-form-question-select .sq-form-question-answer select,
.sq-form-question.sq-form-question-select .sq-form-question-answer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 2px solid #323e48;
    color: #000;
    cursor: pointer;
    width: 100%;
    height: calc(1.25em + 1.1em + 2px);
    padding-left: 0.3em;
}

.input-group .select select:focus,
.form-group .select select:focus,
.sq-form-question .select select:focus,
.input-group.sq-form-question-select .sq-form-question-answer select:focus,
.form-group.sq-form-question-select .sq-form-question-answer select:focus,
.sq-form-question.sq-form-question-select .sq-form-question-answer select:focus,
.input-group .select select:focus-within,
.form-group .select select:focus-within,
.sq-form-question .select select:focus-within,
.input-group.sq-form-question-select .sq-form-question-answer select:focus-within,
.form-group.sq-form-question-select .sq-form-question-answer select:focus-within,
.sq-form-question.sq-form-question-select .sq-form-question-answer select:focus-within {
    box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -webkit-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    -moz-box-shadow: 0 0 0 0.1rem rgba(143, 73, 149, .5);
    outline: none;
    -webkit-appearance: none;
}

.toggle-container {
    padding: 0;
    margin: 0;
}

.toggle-container .toggle-content {
    padding: 0.5em 0 0.5em 1em;
    border-left: 5px solid #c0c0c0;
    margin: 0.5em;
}

.toggle-container .toggle-header {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.toggle-container .toggle-header:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: "\f0da";
}

.toggle-container .toggle-header.is-active:after {
    content: "\f0dd";
}

.toggle-container .toggle-header:hover {
    cursor: hand;
    cursor: pointer;
}

.toggle-container .toggle-header>svg.svg-inline--fa {
    width: 1em;
    height: 1em;
    font-size: 1.6em;
    vertical-align: -0.275em;
}

.toggle-container .toggle-header.is-active>svg.svg-inline--fa {
    position: relative;
    top: -8px;
}

.toggle-container .is-hidden {
    display: none;
}

div[data-toggle-more="true"] {
    display: none;
}

#more_options {
    text-decoration: none;
}

#more_options:hover,
#more_options:focus {
    text-decoration: underline;
}

#more_options::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
    content: '\f067';
}

#more_options.expanded::before {
    content: '\f068';
}

#more_options>svg.svg-inline--fa {
    font-size: 0.7em;
    margin-right: 0.5em;
    font-weight: 900;
}

.home #news_cards {
    background-color: rgba(141, 126, 154, 0.4);
}

.home #news_cards .card-wrapper:last-child {
    padding-right: 0 !important;
}

.card-deck {
    flex-direction: column;
}

@media (min-width: 992px) {
    .card-deck {
        flex-direction: row;
    }
}

.card-deck .card,
.card-sidebar .card {
    border: none;
    box-sizing: border-box;
    box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    -webkit-box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    -moz-box-shadow: inset 0px -5px 0px -1px #d7dbdc;
    outline: none;
    -webkit-appearance: none;
    margin-bottom: 3em;
}

.card-deck .card:hover,
.card-sidebar .card:hover {
    box-shadow: inset 0px -5px 0px -1px #8d7e9a;
    -webkit-box-shadow: inset 0px -5px 0px -1px #8d7e9a;
    -moz-box-shadow: inset 0px -5px 0px -1px #8d7e9a;
    outline: none;
    -webkit-appearance: none;
}

.card-deck .card:hover,
.card-sidebar .card:hover,
.card-deck .card:focus,
.card-sidebar .card:focus {
    outline: none;
    -webkit-appearance: none;
}

.card-deck .card .card-body,
.card-sidebar .card .card-body {
    overflow: hidden;
}

.card-deck .card .card-body .card-title a,
.card-sidebar .card .card-body .card-title a {
    color: #111a23;
    text-decoration: none;
}

.card-deck .card .card-footer,
.card-sidebar .card .card-footer {
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    font-size: 80%;
}

@media (min-width: 992px) {
    .card-deck .card,
    .card-sidebar .card {
        margin-bottom: 0;
    }
}

.news-deck .card {
    min-width: 100%;
    margin-bottom: 3em;
}

@media (min-width: 992px) {
    .news-deck .card {
        margin-bottom: 0;
        min-width: 33%;
    }
}

a.news-tag {
    text-decoration: none;
    color: #111a23;
    font-size: 0.9rem;
}

a.news-tag:hover {
    color: #fff;
    background: #2c3740;
    text-decoration: underline;
}