nav.navbar {
    ul.ul-menu{

        
        li.nav-item{
            
            .dropdown-menu{
                
                .sub-menu-level2{
                    
                    li.dropdown-item{
                        padding: 0.7rem 1.5rem;

                        a{
                            span.mobile-arrow-right-icon{
                                top: 0px;
                                color: $blue-bayoux;
                            }
                        }

                        &.selected{
                            background: $blue-bayoux;
                        }
                    }
                }

                .sub-menu-level3-container{

                    .sub-menu-level3{
                        display: flex;
                        height: auto;
                        flex-direction: column;
                        background-color: rgba($mamba, 0.2 );

                        li{
                            padding: 15px 20px 1px 20px;
                            margin: 0;
                            
                            &:hover{
                                background-color: $river-bed;
                                a{
                                    color: $white;
                                }
                            }
                            
                            a{
                                display: block;
                                display: block;
                                top: -5px;
                                position: relative;
                                border-bottom: 1px solid $blue-bayoux;

                                .menu-label{
                                    line-height: 1.4;
                                    position: relative;
                                    display: block;
                                    margin-bottom: 10px;
                                }

                                .menu-label-desc{
                                    position: relative;
                                    top: -5px;
                                    line-height: 1.4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


