form[id^="search_page_"] {

    // display: flex;
    // flex-direction: row;
    
    input[type="text"]{
        // padding: 1.25em; 
        // flex-shrink: 1;
        
    }
    
    button[type="submit"]{
        background: none;
        border: none;
        position: absolute;
        top: 0.25em;
        right: 0.1em;
        font-size: 1.3rem;
        
        .fa-search:hover{
            color: $elm;
        }
    }
}

