.plus .bodycopy_content_wrapper .table,
.sq-edit-content-type-wrapper .table,
.sq-wysiwyg-preview-wrapper .table,
.table {
    background-color: $white;
    caption {
        background-color: $primary;
        caption-side: top;
        color: $white;
        padding: 0.75rem 1.5rem;
        font-weight: bolder;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-bottom: $table-border-width solid $table-border-color;
        border-top-width: 0;
    }
    th:last-of-type,
    td:last-of-type {
        padding-right: 0;
    }
    thead th {
        vertical-align: bottom;
        font-size: $h4-font-size;
        font-weight: bolder;
        padding-top: 2rem;
        padding-left: 0;
        background-color: $white !important;
    }
    thead td {
        padding-left: 0;
    }
}

#apregister table {
    table-layout: fixed;
    th {
        font-size: 15px;
    }
}