$enable-rounded: false;
$blk: #000;
$white: #fff;
// New Colour Vars

/* blues */

$picton-blue: #39c4e6;
$elm: #206c80;
$malibu: #40d9ff;
$elephant: #103640;
$turquoise-blue: #6eebb5;

/* greys w blue analogous*/

$limed-spruce: #323e48;
$cornflower: #95c2e8;
$anakiwa: #b0dbff;
$blue-bayoux: #586e80;
$outer-space: #2c3740;
$river-bed: #4a5464;
$storm-grey: #696980;
$mamba: #8d7e9a;
$biuquet: #b493af;
$blossom: #dda9c0;
$fire-bush: #e89b26;
$noColour: rgba(0, 0, 0, 0);

/*Colours*/

$body-bg: #f0f4f5;
$blue: #33658f;
$red: #dc2738;
$primary: $blue;
$colour-primary: $primary;
$black: rgb(17, 26, 35);
$blackrgba: rgba(17, 26, 35, 0.5);
// $purple:  #8D7E9A; who ever did this, it is not accessible
$purple: #8f4995;
$purplergba: rgba(141, 126, 154, 0.7);
$green: #138d75;
$orange: #fd7e14;
// $secondary: #3ab7ff;
$success: #007c00;
// $success: #0a8927;
// $info: #3b64cc;
$warning: #e77600;
$danger: #db0000;
$light: #d7dce0;
$dark: $limed-spruce;
$gray: #586169;
$gray-300: #d9d9d9;
$gray-400: #d7dbdc;
$gray-600: #586169;

/* Bootstrap Variable overrides*/

$theme-colors: (
    "body-bg": $body-bg,
    "border-color": $gray-400,
    "black": $black,
    "blackrgba": $blackrgba,
);

/* Variables added from sccs files */

$pale-blue: #e8f5ff; //alert-panel
$bright-blue: #3ac4e4; //alert-panel
$dusty-blue: #566573; //footer
$dusty-purple: #51585e; //footer
$noble: #b4b4b4; //form-elements
$wild-sands: #f4f4f4; //form-elements
$shiraz: #b10e1e; //form-elements
$tundora: #4a4a4a; //form-elements
$blue-zodiac: #103555; //form-elements
$porcelain: #eef0f1; //form-elements
$gallery: #efefef; //form-elements
$nevada: #626567; //form-elements
$fiord: #495b69; //header_menu
$tarawera: #0a434d; //header_menu
$athens-gray: #f0f0f2; //header_menu //type
$jelly-bean: #2c6ca1; //type
$alto: #d2d2d2; //sub-menu //type
$sliver: #c0c0c0; //toggle-custom
$iorn: #dcddde; //toc_nav-table

/* Fonts */

$enable-responsive-font-sizes: true;
$font-size-base: 17px;
$font-family-sans-serif: "Open Sans", "Roboto", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol", "Noto Color Emoji";
$link-color: #0d61b1;
$link-decoration: underline;
$link-hover-decoration: none;
$body-color: $blk;
$small-font-size: 90%;
$font-weight-bold: 700;
$border-width: 1px;
$border-color: $gray-400;
$spacer: 1rem;
$spacers: ();

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 2.5),
    7: ($spacer * 3),
    8: ($spacer * 3.5),
    9: ($spacer * 4)
  ),
  $spacers
);

/* Headings Overrides*/

$headings-font-family: "Roboto", "Open Sans", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 600;
$headings-line-height: 1.25;
$headings-margin-bottom: $spacer / 0.5;
$h1-font-size: $font-size-base * 2.55;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$display1-size: 4.5rem;
$display2-size: 4rem;
$display3-size: 3.5rem;
$display4-size: 3rem;
$display1-weight: 500;
$display2-weight: 500;
$display3-weight: 500;
$display4-weight: 500;

/* Breadcrumb overrides*/

$breadcrumb-divider: quote("\f054");
$breadcrumb-active-color: $body-color;
$breadcrumb-divider-color: $body-color;

/* Alert overrides*/

$alert-border-width: 0;
$alert-border-radius: 0;

/* - change lightness/darkness of alert */

$alert-bg-level: 0;
$alert-border-level: 1;
$alert-color-level: -10;

/* Buttons */

$input-btn-font-size: 1em;
$input-btn-padding-y: 0.55em;
$input-btn-padding-x: 0.95em;
$input-btn-line-height: 1.25;

/* Table overrides*/

$table-cell-padding: 0.75rem 1rem 0.75rem 0;
$table-border-width: $border-width;
$table-border-color: $border-color;

/* Forms */

$custom-select-padding-y: 0;
$custom-select-padding-x: 0.8em;

/* FontAwesome 5 (FREE) */

@mixin useFontAwesome {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: none;
}

@mixin useColourBorder($shadowSetting) {
    box-shadow: $shadowSetting;
    -webkit-box-shadow: $shadowSetting;
    -moz-box-shadow: $shadowSetting;
    outline: none;
    -webkit-appearance: none;
}
