.toggle-container {
    padding: 0;
    margin: 0;
    .toggle-content {
        padding: .5em 0 .5em 1em;
        border-left: 5px solid $sliver;
        margin: .5em;
    }
    .toggle-header {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        &:after {
            @include useFontAwesome;
            content: "\f0da";
        }
        &.is-active:after {
            content: "\f0dd";
        }
        &:hover {
            cursor: hand;
            cursor: pointer;
        }
        >svg.svg-inline--fa {
            width: 1em;
            height: 1em;
            font-size: 1.6em;
            vertical-align: -.275em;
        }
        &.is-active>svg.svg-inline--fa {
            position: relative;
            top: -8px;
        }
    }
    .is-hidden {
        display: none;
    }
}

// Read more / less option
div[data-toggle-more="true"] {
    display: none;
}

#more_options {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &::before {
        @include useFontAwesome;
        content: '\f067';
    }
    &.expanded::before {
        content: '\f068';
    }
    &>svg.svg-inline--fa {
        font-size: 0.7em;
        margin-right: .5em;
        font-weight: 900;
    }
}