// Layout utilities
.full-width-section{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.full-width-container {
    width: 100vw;
    position: relative;
}
.jconfirm.jconfirm-supervan a {
    color: $white;
}

.grow
{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    font-size: 125%;
    transition: all 1s ease-in-out;
}